################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/POSSystem/.vs/POSSystem/v15
/POSSystem/.vs/POSSystem/v16